# 6(1-3) Real Estate

## -Import libraries & data, df_clean2.pkl 
## -data checks of new data set, investigating NaNs in 'prev_sold_date'
## -create subset with these NaNs, called df_nans
## -check categories in 'status' column to see if this creates implications for the NaNs (i.e. implying that these line up with new builds since there is no prior sold date)
## -replace NaNs with 0 since they do
## -export as new pickle file called df_clean3.pkl

## Import libraries and clean data set (pickle file)

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#import path
path = r'/Users/nancykray/Desktop/Real Estate Project'

In [3]:
#import clean data (pickle)
df=pd.read_pickle(os.path.join(path, 'Prepared Data', 'df_clean2.pkl'))

#### data checks

In [6]:
#check dataset
df.shape

(2220449, 13)

In [7]:
df.isnull().sum()

Unnamed: 0             0
brokered_by            0
status                 0
price                  0
bed                    0
bath                   0
acre_lot               0
street                 0
city                   0
state                  0
zip_code               0
house_size             0
prev_sold_date    732312
dtype: int64

In [8]:
#create subset of only missing values for 'prev_sold_date'
df_nans=df[df['prev_sold_date'].isnull()==True]

In [9]:
#check the subset
df_nans

,Unnamed: 0,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,0,103378.0,for_sale,105000.0,3.000000,2.000000,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.000,NaN
1,1,52707.0,for_sale,80000.0,4.000000,2.000000,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.000,NaN
2,2,103379.0,for_sale,67000.0,2.000000,1.000000,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.000,NaN
3,3,31239.0,for_sale,145000.0,4.000000,2.000000,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.000,NaN
4,4,34632.0,for_sale,65000.0,6.000000,2.000000,0.05,331151.0,Mayaguez,Puerto Rico,680.0,2715.133,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1412852,1414368,21688.0,for_sale,299000.0,3.275919,2.496373,0.67,1945525.0,Ketchikan,Alaska,99901.0,2715.133,NaN
1412853,1414369,21688.0,for_sale,299000.0,3.275919,2.496373,0.67,1909223.0,Ketchikan,Alaska,99901.0,2715.133,NaN
1412854,1414370,21688.0,for_sale,199000.0,3.275919,2.496373,1.31,1909223.0,Ketchikan,Alaska,99901.0,2715.133,NaN
1412855,1414371,21688.0,for_sale,1575000.0,3.275919,2.496373,292.58,1909223.0,Ketchikan,Alaska,99901.0,2715.133,NaN
1412856,1414372,21688.0,for_sale,1575000.0,3.275919,2.496373,292.58,1860290.0,Ketchikan,Alaska,99901.0,2715.133,NaN

### let's check 'status' of these to see if the categories ...looking for 'new builds'

In [10]:
#check all unique items in the 'status' column first using: df.ColumnName.unique()
df_nans.status.unique()

array(['for_sale', 'ready_to_build'], dtype=object)

In [11]:
#check unique columns in the main dataframe (without NaNs)
df.status.unique()

array(['for_sale', 'ready_to_build', 'sold'], dtype=object)

## here, we can see that the df_nans dataframe (including NaNs) has no 'sold' status - this implies that these are either new builds that are 'for_sale' or that they are lots that are 'ready_to_build'.  
## Flagging these NaNs to match their status might be an option.  
## or- We can change these NaNs to 0 right now and flag later (might be easier that way) - and more efficient to keep the columns uniform

## Decision moving forward, let's change the prev_sold_date to 0

In [12]:
#replace NaNs with 0
df = df.replace(np.nan, 0)

In [13]:
#check for NaNs again to see if executed correctly
df.isnull().sum()

Unnamed: 0        0
brokered_by       0
status            0
price             0
bed               0
bath              0
acre_lot          0
street            0
city              0
state             0
zip_code          0
house_size        0
prev_sold_date    0
dtype: int64

### It worked

In [14]:
#take a look at the prev_sold_date items
df.prev_sold_date.unique()

array([0, '2020-02-28', '2019-06-28', ..., '2021-11-07', '2021-12-26',
       '2021-12-25'], dtype=object)

In [15]:
#check shape of df
df.shape

(2220449, 13)

### good, the shape is the same and our missing values are all manipulated
### Export data to as pickle

In [17]:
#export dataframe to pickle
df.to_pickle(os.path.join(path,'Prepared Data', 'df_clean3.pkl'))